.glass-card {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(16px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: rgb(235, 22, 22);
    }
    body {
      background: url('/background.jpg') no-repeat center center fixed;
      background-size: cover;
    }
    .profile-glass {
      min-height: 90vh;
      padding: 2rem;
      background: rgba(224, 30, 30, 0.25);
      backdrop-filter: blur(15px);
      border-radius: 20px;
    }
    